DETECT_MODEL_PATH=/models/roberta-base-openai-detector
DETECT_DEVICE=cuda:0
DETECT_MAX_LENGTH=512
DETECT_MIN_TOKENS=128
GEN_LLM_BASE_URL=https://api.openai.com/v1
GEN_LLM_API_KEY=replace_me
GEN_LLM_MODEL=gpt-3.5-turbo
EMPIRICAL_THRESHOLD=2.6351518630981445

DETECTOR_PORT=8765
